.ls {
  background-color: rgb(235, 232, 232);
  border: 1px rgb(167, 163, 163) solid;
}
.ls-inner {
  height: 750px;
  width: 350px;
  background-color: #800080;
}

.ls-image {
  height: 130px;
  padding-top: 30px;
}
.ls-search {
  height: 60px;
  width: 1068px;
  background-color: rgb(248, 245, 245);
  padding-top: 60px;
  margin-top: -490px;
  margin-left: 350px;
}
.ls-search-inner {
  border: solid 1px rgb(146, 143, 143);
  width: 600px;
  height: 30px;
  border-radius: 25px;
  margin-top: -20px;
  margin-left: 20px;
  color: #800080;
  padding: 5px 20px 5px 10px;
}
.ls--book {
  width: 60px;
  height: 50px;
  margin-top: -45px;
  margin-left: 770px;
  color: #800080;
}
.ls--time {
  width: 60px;
  height: 50px;
  margin-top: -40px;
  margin-left: 700px;
  color: #800080;
}
.ls--bell {
  width: 40px;
  /* height: 40px; */
  margin-top: -50px;
  margin-left: 850px;
  color: #800080;
}

.ls-profile {
  height: 80px;
  width: 90px;
  margin-top: -500px;
  margin-left: 900px;
  color: #800080;
}

.ls--home {
  color: #fdfdfd;
  height: 40px;
  
  border-radius: 25px;
}
.ls-list-tab {
  text-align: justify;
  margin-left: 60px;
}
.ls-input {
  border: none;
  background-color: rgb(248, 245, 245);
  width: 90%;
  height: 30px;
}
.ls-list-tab {
  color: white;
  font-size: 20px;
  font-style: normal;
}
.ls-container {
  background-color: rgb(251, 255, 255);
  height: 350px;
  width: 900px;
  border-radius: 10px;
  align-content: center;
  margin-left: 100px;
  margin-top: 100px;
}
.h3{
  text-align: center;
}
.member-img-holder{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  margin: -60px auto 0;  
  object-fit: fill;

}
/* card css */

.ls-card {
  max-width: 350px;
  text-align: center;
  margin-top: 45px;
}
.ls-card_img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  margin: -60px auto 0;
}
.ls-card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ls-h5 {
  color: #800080;
  font-size: 14px;
}
.ls-card_info {
  padding: -5px;
}

/* toggle css */
.toggle-container {
  position: relative;
  width: 150px;
  height: 32px;
  background-color: white;
  cursor: pointer;
  user-select: none;
  padding: 2px;
  border-radius: 25px;
  margin-left: 400px;
}
.toggle-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 14px;
  width: 120px;
  line-height: 16px;
  cursor: pointer;
  color: #050505;
  padding: 8px 12px;
  box-shadow: 0 2px 4px #0c0c0c ;
  background-color:#faf4fa;
  position:absolute;
  border-radius: 3px;
  transition:  all 0.2s ease;
  left: 34px;
  font-weight: bold;

}
.disable{
  background-color: #800080;
  left: 2px;
}
